<mat-toolbar class="navbar-container">
  <div class="container-nav-info">
    <a class="img-container" routerLink="/home">
      <img src="assets/images/b_logo.webp" alt="Logo DataFighters">
    </a>
    <!-- <span>{{logoName}}</span> -->
    <span class="example-spacer"></span>
    <div class="menu-container">
      <a routerLink="/home" routerLinkActive="active"><span class="ini-span">Inicio</span><mat-icon  class="icon-small">home</mat-icon></a>
      <!-- <a routerLink="/reto" routerLinkActive="active"><span>Reto</span> <mat-icon  class="icon-small">workspace_premium</mat-icon></a>
      <a routerLink="/base-de-datos" routerLinkActive="active"><span>Análisis</span><mat-icon  class="icon-small">analytics</mat-icon></a> -->
    </div>
  </div>
    
</mat-toolbar>
